Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__: List popular languages for Data Science    
- R
- Python
- SQL
- Scala

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:  
1- Python     
2- R     
3- SQL      
4- Javascript

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:     
1- Tensorflow     
2- Pandas     
3- ScyPi     
4- NumPy     
5- Matplotlib

Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
| Jupyter Lab |
| R Studio |
| TensorFlow |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
a = 3 + 4
print(a)

7

In [5]:
a = 3 + 1
b = 2 - 3
print(a + b)

3

Exercise 8 - Create a code cell to multiply and add numbers

In [7]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

Exercise 9 - Create a code cell to convert minutes to hours

In [8]:
200 / 60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Lucas Uberti