### 2 - title of the notebook

# Example, exercise

### 3 - create a cell for a introduction

## Example for an introduction

### 4 - list data science languages

Python, R, SQL, Javascript, Scala

### 5 - list data science libraries

Tensorflow, Pandas, ScyPi, NumPy, Matplotlib

### 6 - table of data science tools

| Data Science Tools |
|--------------------|
| Jupyter Lab        |
| R Studio           |
| Github             |
| Watson Studio      |
| Apache Spark       |
| SAS                |
| TensorFlow         |

### 7 - markdown cell introducing arythmetical examples

a = 3 + 2     
b = 4 + 2 * 3

### 8 - code cell to multiply and add numbers

In [8]:
x = 5 * 1 * 8 * 4
print(x)

160

### 9 - code cell to convert minutes to hours

In [14]:
# 1h is 60m
x = 3600 / 60
print(x,'h')

60.0 h

### 10 - insert a markdown cell to list objectives

- learn about data science tools    
- know about languages for data science    
- libraries required and useful for data science

### 11 - create a markdown cell to indicate the Author's name

## Lucas Uberti